---
layout: default
title: {{ site.description }}
---
{% include /blog_nav.html %}
<div class="container">
  <div class="row">
    {% for post in site.posts %}
    <div class="blog-wall container">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="user-info">
        <span class="info-text">作者: {{ post.auth | default: "匿名" }}</span>
        <span class="info-text">日期: {{post.date | date: "%Y年%-m月%d日"}}</span>
      </p>
      <p style="font-size: 16px;"> {{ post.excerpt | truncate: 150}} </p>
      <p class="tags">
        {% for tag in post.tags %}
        <a href="#" class="label-item" target="_blank">{{ tag }}</a>
        {% endfor %}
      </p>
      <div class="clearfix"></div>

    </div>
    {% endfor %}
  </div>
</div>

