<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav justify-content-center">
        <li><a href="#">前台</a></li>
        <li><a href="#">后台</a></li>
        <li><a href="#">iOS</a></li>
        <li><a href="#">Android</a></li>
        <li><a href="#">UI</a></li>
        <li><a href="#">测试</a></li>
        <li><a href="#">运维</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>