<div class="sidebar well">
  <div style="text-align: center;font-family: fantasy;">
    <h4>Tag</h4>
  </div>
  <ul style="padding: 0px;list-style: none;">
    <li><a class="cate" href="#">AWS <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.aws | size }})</small></a></li>
    <li><a class="cate" href="#">CHEF <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.chef | size }})</small></a></li>
    <li><a class="cate" href="#">iOS <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.ios | size }})</small></a></li>
    <li><a class="cate" href="#">JavasScript <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.javascript | size }})</small></a></li>
    <li><a class="cate" href="#">Mongodb <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.mongodb | size }})</small></a></li>
    <li><a class="cate" href="#">NodeJS <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.nodejs | size }})</small></a></li>
    <li><a class="cate" href="#">工具 <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.tools | size }})</small></a></li>
    <li><a class="cate" href="#">管理 <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.manager | size }})</small></a></li>
    <li><a class="cate" href="#">读书 <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.book | size }})</small></a></li>
    <li><a class="cate" href="#">规范 <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.rule | size }})</small></a></li>
    <li><a class="cate" href="#">杂谈 <small>&nbsp;&nbsp;&nbsp;&nbsp;({{ site.categories.others | size }})</small></a></li>
  </ul>
</div>


<div class="sidebar well">
  <div style="text-align: center;font-family: fantasy;">
    <h4>近期文章</h4>
  </div>

  <div>
    <h5>...</h5>
  </div>
</div>
<div class="sidebar well">
  <div style="text-align: center;font-family: fantasy;">
    <h4>近期评论</h4>
  </div>
  <div>
    <h5>...</h5>
  </div>
</div>
